[submodule "money-trail-ui"]
	path = money-trail-ui
	url = https://github.com/brendangubbins/money-trail-ui.git
[submodule "money-trail"]
	path = money-trail
	url = https://github.com/brendangubbins/money-trail.git
